<ion-view hide-nav-bar="true">
	<div class="bar bar-header head-col">
	  <button class="button button-icon off-togg ion-navicon" menu-toggle="left"></button>
	  <div class="h1 title bold">DISCOVER HOMES</div>
    </div>
	<div style="border:1px solid #08b5cc;" class="bar bar-subheader head-col">
	  <h2 class="title hf-clr">Austin, TX</h2>
	</div>	
    <ion-content scroll="true" ng-controller="HomeCtrl" ng-init="home_properties()" class="has-header has-subheader" style="margin-top:-2px;">
            <ion-list>
				<div style="margin-top:-2px;margin-bottom:0px;border:0px solid red;background-color:green;" class = "row_list"  ng-repeat="tab in tabs | limitTo:4 track by $index" ng-if="$index % 2 == 0" ng-click="property_view({{tab.property_id}})">

					<div style="background-color:none;border:1px solid #E8E0E0;margin-top:0px;" class = "col-50" ng-repeat="i in [$index,$index+1]" ng-if="tabs[i]!=null">
						<img  class="home_property_image" ng-src="{{'http://45.55.245.79:81/projects/windly/images/'+tabs[i].property_img}}"/>
						<div class="home_property_text">
							<label style="color:white;">{{tabs[i].property_price}}</label>
							<br><label style="color:white;">{{tabs[i].property_location}}</label>
						</div>
					</div>
				</div>
				<!------------------>
				<button style="margin-top:0px;" class="button button-full hf-browse" ui-sref="app.tabs.getstarted">
					BROWSE ALL PROPERTIES
				</button>
				<div class="hf-gap">
					<p class="hf-get">
						YOUR OFFERS FEED
					</p>
				</div>
				<!------------------>
            </ion-list>
			<ion-list class="login-form">
                <button class="button-full bold h-stp">
					<img src="img/Home_03.png" class="off-icon">
                    <span class="off-icon off-text">Buyer's Signed Contract</span>
                </button>
				<div class="row npad">
				  <div class="col-40"><img  ng-src="{{image2}}" class=" img-all"></div>
				  <div class="col-60" style="padding: 2% 0 0 5%;">
					  <div class="row h-imgt1"  ng-bind-html="home"></div>
					  <div class="row h-imgt2"  ng-bind-html="price"></div>
					  <div class="row h-imgt3"  ng-bind-html="location"></div>
					  <div class="row off-date"  ng-bind-html="date"></div>
				  </div>
				</div>
            </ion-list>
            <ion-list class="login-form">
                <button class="button-full bold h-sty1">
					<img src="img/rightarrow.png" class="off-icon">
                    <span class="off-icon off-text">Sent to Seller</span>
                </button>
				<div class="row npad">
				  <div class="col-40"><img  ng-src="{{image2}}" class=" img-all"></div>
				  <div class="col-60" style="padding: 2% 0 0 5%;">
					  <div class="row h-imgt1"  ng-bind-html="home"></div>
					  <div class="row h-imgt2"  ng-bind-html="price"></div>
					  <div class="row h-imgt3"  ng-bind-html="location"></div>
					  <div class="row off-date"  ng-bind-html="date"></div>
				  </div>
				</div>
            </ion-list>
            <ion-list class="login-form">
                <button class="button-full bold h-sty2">
					<img src="img/eye.png" class="off-icon">
                    <span class="off-icon off-text">Viewed by Sellers</span>
                </button>
				<div class="row npad">
				  <div class="col-40"><img  ng-src="{{image2}}" class=" img-all"></div>
				  <div class="col-60" style="padding: 2% 0 0 5%;">
					  <div class="row h-imgt1"  ng-bind-html="home"></div>
					  <div class="row h-imgt2"  ng-bind-html="price"></div>
					  <div class="row h-imgt3"  ng-bind-html="location"></div>
					  <div class="row off-date"  ng-bind-html="date"></div>
				  </div>
				</div>
            </ion-list>			
    </ion-content>
</ion-view>
